<table>
  <tr>
    <td> WiFi </td>
    <td> <a data-choice="wifi" class="btn btn-default" href="#configure-wifi"> select </a> </td>
  </tr>
  <tr>
    <td> Ethernet </td>
    <td> <a data-choice="ethernet" class="btn btn-default" href="#recipe"> select </a> </td>
  </tr>
  <tr>
    <td> None </td>
    <td> <a data-choice="none" class="btn btn-default" href="#recipe"> select </a> </td>
  </tr>
</table>
