
<h2> Build a kit </h2>
What you'll need:
<ol>
<li>Raspberry Pi computer ($35)</li>
<li>The Pirateship for Raspberry Pi on an SD Card ($4)</li>
<li>Get a Sensor (check out this list of supported sensors)</li>
<li>USB Drive ($4)</li>
<li>A WiFi USB Dongle if you need it ($15)</li>
</ol>

<h2> Have a kit sent to your doorstep </h2>
<p>
  Need help? We'd be glad to help. Send R.J. an email at rj@rjsteinert.com
</p>

<h2>Next step</h2>
<p>
  Then click on configure (see above) where you'll select your sensor and database (it could just be an Excel file on your USB Drive), save the resulting file to your USB Drive, plug it all in and you're good to go!
</p>
