
<h2> Build a kit </h2>
<p>
  <a href="https://opk.hackpad.com/Build-an-Open-Pipe-Kit.txt-2OB5VTh3pkZ">Click here for the Open Pipe Kit wiki that has documentation on how to build your own kit.</a>
</p>

<h2> Have a kit sent to your doorstep </h2>
<p>
  Need help? We'd be glad to help. Send R.J. an email at rj@rjsteinert.com
</p>

<h2> Next step </h2>
<p>
  Click on <a href="#configure">configure (see above)</a> where you'll select your sensor and database (it could just be an Excel file on your USB Drive), save the resulting file to your USB Drive, plug it all in. When the green light flashes a heartbeat, your Raspberry Pi is piping data.
</p>
