
<h2> Build a kit </h2>
What you'll need:
<ol>
<li><a href="http://raspberrypi.org">Raspberry Pi computer ($35)</a></li>
<li><a href="http://openpipekit.github.io/pirate.sh">Put Pirateship for Raspberry Pi on an SD Card ($4)</a></li>
<li><a href="#configure">Get a Sensor (check out this list of supported sensors)</a></li>
<li><a href="http://www.microcenter.com/product/281032/16GB_USB_20_Flash_Drive">USB Drive ($5)</a></li>
<li><a href="http://www.microcenter.com/product/361805/150Mbps_Wireless_N_USB_Adapter">A WiFi USB Dongle if you need it ($15)</a></li>
</ol>

<h2> Have a kit sent to your doorstep </h2>
<p>
  Need help? We'd be glad to help. Send R.J. an email at rj@rjsteinert.com
</p>

<h2>Next step</h2>
<p>
  Click on <a href="#configure">configure (see above)</a> where you'll select your sensor and database (it could just be an Excel file on your USB Drive), save the resulting file to your USB Drive, plug it all in. When the green light flashes a heartbeat, your Raspberry Pi is piping data.
</p>
