<!--h1 style="background: #faed68;text-align: center; color: #666; padding: 0 0 5px 0;">Data all around you. <br> Data at your finger tips. <br> Now you are in control.</h1-->

<!-- h1 style=" text-align: center; color: #666; padding: 0 0 10px 0;">Get in control of the <br> data around you.</h1 -->

<!-- h1 style=" text-align: center; color: #666; padding: 0 0 10px 0;">Capture the data around you.</h1-->

<!-- h1 style=" text-align: center; color: #666; padding: 40px 0 10px 0;">Capture your world.</h1-->
<!--h1 style="font-weight: normal; text-align: center; color: #666; padding: 40px 0 10px 0;">Stream your world.</h1-->

<!--h1 style="font-weight: lighter; text-align: center; color: #666; padding: 40px 0 10px 0;">Always be here, wherever you are.</h1-->
<!--h1 style="font-weight: lighter; text-align: center; color: #666; padding: 40px 0 10px 0;">Be there, even when you are not.</h1-->

<h1 style="font-weight: lighter; text-align: center; color: #666; padding: 40px 0 10px 0;">Get the superpower of being everywhere.</h1>
<!--h1 style="font-weight: lighter; text-align: center; color: #666; padding: 40px 0 10px 0;">Be everywhere.</h1-->

<!--h1 style="font-weight: lighter; font-size: 4em;text-align:center; margin-bottom: 35px;"><span style=" text-align: center; color: #666; margin: 0 0 85px 0; padding: 0 10px 5px;">Plug in Open Pipe Kit.</span></h1-->

<h1 style="font-weight: lighter; font-size: 4em;text-align:center; margin-bottom: 35px;"><span style=" text-align: center; color: #666; margin: 0 0 85px 0; padding: 0 10px 5px;">Plug in a Pipe.</span></h1>

<h3 style="text-align: center; margin-top: 380px">A Pipe sends data from these Sensors to the Internet. V</h3>
