
<div class="home-table">
  <div class="row">
    <div class="col col-sm-12">

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/plug-it-in-small.png')">
          <h2 class="mdl-card__title-text">Be Everywhere</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A Pipe is a device that connects a sensor to the Internet. Open Pipe Kit makes it easy to build pipes even for folks who don't program.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#guide" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Check out the Guide
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/examples.png')">
          <h2 class="mdl-card__title-text">Examples</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Check out the example videos we've been making to get the ideas flowing. If you make a pipe, we'd love if you added your own as an example.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#examples" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Watch example videos
          </a>
        </div>
      </div>

    </div>
    <div class="col col-sm-6">

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/opk-steps-1.png')">
          <h2 class="mdl-card__title-text">Configurator</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Use the Open Pipe Kit Configurator to configure your Pipe. With a click of a couple buttons you'll be piping data.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#configurator" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Configure your pipe
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col col-sm-12">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background-image: url('images/code.png')">
          <h2 class="mdl-card__title-text">Developers</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Open Pipe Kit is easy to integrate with any sensor or database you want. Best yet, you can program in any language you want.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#developers" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Start Developing
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
