<!--h1 style="text-align: center; color: #666; padding: 0 0 5px 0;">Data all around you. <br> Data at your finger tips. <br> Now you are in control.</h1-->
<h1 style=" font-size: 4em; text-align: center; color: #666; padding: 0 0 10px 0;">Get in control of the <br> data around you.</h1>
<h1 style="text-align:center; margin-bottom: 35px;"><span style="background: yellow; text-align: center; color: #666; margin: 0 0 85px 0; padding: 0 10px;">Plug in an Open Pipe Kit.</span></h1>
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="images/opk-steps-4.png" alt="...">
      <div class="caption">
        <h3>1) Plan</h3>
        <p>Plan where you will be collecting data.</p>
        <p><a href="#plan" class="btn btn-primary" role="button">Let's plan</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="images/opk-steps-2.png" alt="...">
      <div class="caption">
        <h3>2) Assemble</h3>
        <p>Assemble the parts for your kit.</p><p>
        </p><p><a href="http://openpipekit.github.io/pirate.sh/" class="btn btn-primary" role="button">Show me how</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="images/opk-steps-1.png" alt="...">
      <div class="caption">
        <h3>3) Configure</h3>
        <p>Configure your Open Pipe Kit.</p>
        <p><a href="#configure" class="btn btn-primary" role="button">Quick configure</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="images/opk-steps-3.png" alt="...">
      <div class="caption">
        <h3>4) Deploy</h3>
        <p>It's time to deploy your Open Pipe Kit!</p>
        <p><a href="#deploy" class="btn btn-primary" role="button">Tips</a></p>
      </div>
    </div>
  </div>
</div>
