<div class="jumbotron">
  <h1>Let's bake a pipe for you.</h1>
  <p>This app will ask a couple of questions leading you through the process of creating a pipe.</p>
  <p><a class="btn btn-primary btn-lg" href="#which-sensor" role="button">Begin</a></p>
</div>
